.main-div1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.big-div{
    border: dotted 1px black;
    height: 250px;
    width: 260px;
    margin-top: 20px;
}
.text-div{
    font-size: 15px;
}

/* styling card 1  */
.colour-div1{
    height: 125px;
    background-color:rgb(71, 18, 21);
}

.colour-div2{
    height: 135px;
    background-color:rgb(69, 41, 46);
}

.colour-div3{
    height: 125px;
    background-color:rgb(133, 197, 220);
}

.colour-div4{
    height: 125px;
    background-color:rgb(235, 115, 11);
}
/* styling card 2*/
.colour-div5{
    height: 125px;
    background-color:rgb(7, 17, 113);
}

.colour-div6{
    height: 125px;
    background-color:rgb(132, 184, 221);
}

.colour-div7{
    height: 125px;
    background-color:rgb(114, 117, 36);
}

.colour-div8{
    height: 125px;
    background-color:rgb(253, 191, 177);
}



 