.main-div{
    display: flex;
    justify-content:space-around
    transition: transform 0.3s ease;

}


.big-div{
    border: dotted 1px black;
    height: 250px;
    width: 260px;
    margin-top: 20px;
   
}
.big-div:hover{
 transform: scale(1.05);
}
.text-div{
    font-size: 15px;
}

/* styling card 1  */
.colour-div1{
   height: 135px;
    background-color:rgb(232, 50, 1);
}


.colour-div2{
    height: 135px;
    background-color:rgb(39, 20, 16);
}

.colour-div3{
    height: 125px;
    background-color:rgb(176, 94, 169);
}

.colour-div4{
    height: 125px;
    background-color:rgb(235, 115, 11);
}
/* styling card 2*/
.colour-div5{
    height: 125px;
    background-color:rgb(7, 17, 113);
}

.colour-div6{
    height: 125px;
    background-color:rgb(132, 184, 221);
}

.colour-div7{
    height: 125px;
    background-color:rgb(114, 117, 36);
}

.colour-div8{
    height: 125px;
    background-color:rgb(59, 25, 17);
}

.colour-div9{
    height: 125px;
    background-color:rgb(86, 53, 81);
}

.colour-div10{
    height: 125px;
    background-color:rgb(56, 34, 35);
}

.colour-div11{
    height: 125px;
    background-color:rgb(122, 140, 152);
}
