.main-div1{
    display: flex;
    justify-content: space-around;
}


.big-div{
    border: dotted 1px black;
    height: 250px;
    width: 260px;
}


.colour-div1{
    height: 150px;
    background-color: rgb(48, 108, 73);
}

.text-div{
    font-size: 15px;
}

/* styling card 2 */
.colour-div2{
     background-color: red ;
     height: 140px;
}

/* styling card 3 */
.colour-div3{
background-color: blueviolet;
height: 130px;
}

/* styling card 4 */
.colour-div4{
back
}

/* styling card 5 */