.main-div1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.big-div{
    border: dotted 1px black;
    height: 250px;
    width: 260px;
    margin-top: 20px;
}
.text-div{
    font-size: 15px;
}

/* styling card 1  */
.colour-div1{
    height: 125px;
    background-color:rgb(79, 147, 15);
}

.colour-div2{
    height: 125px;
    background-color:rgb(169, 241, 13);
}

.colour-div3{
    height: 125px;
    background-color:rgb(69, 38, 1);
}

.colour-div5{
    height: 125px;
    background-color:rgb(7, 17, 113);
}
/* styling card 2*/
.colour-div5{
    height: 125px;
    background-color:rgb(7, 17, 113);
}

.colour-div6{
    height: 125px;
    background-color:rgb(132, 184, 221);
}

.colour-div7{
    height: 125px;
    background-color:rgb(114, 117, 36);
}

.colour-div8{
    height: 125px;
    background-color:rgb(77, 29, 18);
}

/* styling card 3 */
.colour-div9{
    height: 125px;
    background-color:deeppink;
}

.colour-div10{
     background-color: aquamarine;
     height: 120px;
}

.colour-div11{
background-color:darkslateblue;
height: 115px;
}

/* styling card2 */
.colour-div12{
background-color:gold;
height:110px ;
}
