.main-div1{
    display: flex;
    justify-content: space-around;
}


.big-div{
    border:dotted 1px black;
    border: dotted 1px black;
    height: 250px;
    width: 260px;
}


.colour-div20{
    height: 125px;
    background-color:deeppink;
    background-color: rgb(48, 108, 73);
}

.text-div{
    font-size: 15px;
}

/* styling card 2 */
.colour-div{
     background-color:brown;
     background-color: red ;
     height: 120px;
}

/* styling card 3 */
.colour-div3{
background-color:darkslateblue;
background-color: blueviolet;
height: 115px;
}

/* styling card 4 */
.colour-div4{
background-color:gold;
background-color: chartreuse;
height:110px ;
}
