.main-div1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.big-div{
    border:dotted 1px rgb(88, 146, 216);
    border: dotted 1px black;
    height: 250px;
    width: 260px;
    margin-top: 20px;
}


.colour-div1{
    height: 125px;
    background-color: rgb(48, 108, 73);
}

.text-div{
    font-size: 15px;
}

/* styling card 2 */
.colour-div2{
     background-color:brown;
     background-color: red ;
     height: 120px;
}

/* styling card 3 */
.colour-div3{
background-color:rgb(36, 33, 53);
background-color: blueviolet;
height: 115px;
}

/* styling card 4 */
.colour-div4{
background-color:gold;
background-color: chartreuse;
height:110px ;
}

.colour-div11{
    background-color: bisque;
    height:111px;
}
.colour-div9{
    background-color: crimson;
    height: 110px;
}

.colour-div13{
    background-color: darkorange;
    height: ;
}