.main-div{
    display: flex;
    justify-content: space-around;
    transition: transform 0.3s ease;
}
.big-div:hover{
transform: scale(1.05);

}


.big-div{
    border:dotted 1px black;
    height: 250px;
    width: 260px;
}


.colour-div9{
    height: 125px;
    background-color:deeppink;
}

.text-div{
    font-size: 15px;
}

/* styling card 2 */
.colour-div10{

     background-color:aquamarine;
     height: 120px;
}

/* styling card 3 */
.colour-div11{
background-color:darkslateblue;
height: 115px;
}

/* styling card 4 */
.colour-div12{
background-color:gold;
height:110px ;
}
